<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="full-comp">
<div class="card" style="border: none;">
    <div class="card-header full-comp" style="color: aliceblue;display: flex;justify-content: center;">
      Youtube Real Time statistics of our Youtube channel &nbsp;<a href="https://www.youtube.com/channel/UCQBJ3aDHhSJZLduIP8Viqkw"><b><i>&nbsp;"RiseAloneYt"</i></b></a>
    </div>
    <div class="card-body full-comp">
      <blockquote class="blockquote mb-0" style="color: aliceblue;display: flex;justify-content: center;">
        <p>Subscribers : <span style="color: rgb(0,123,255);">{{subscribers}}+</span> &nbsp;&nbsp; Videos : <span style="color: rgb(0,123,255);">{{videoCount}}</span> &nbsp;&nbsp; Total Views : <span style="color: rgb(0,123,255);">{{viewCount}}+</span></p>
        <!-- <footer class="blockquote-footer">Bhagawan Shree Krishna in <cite title="Bhagavadgita">Bhagavadgita</cite></footer> -->
      </blockquote>
    </div>
</div>
<app-scrolling-content></app-scrolling-content>
<!-- featured videos here -->
<h1 class="d-flex justify-content-center" style="padding-top:30px;color: aliceblue;">Featured</h1>
<div  style="margin-right: 10%;display: flex;justify-content:flex-end;" >
    <!-- <button type="button" class="btn btn-primary btn-lg" routerLink="/featured" >Go To Featured Videos</button> -->
    <a href="/featured"><small>See All Featured >></small> </a>
</div>
<div class="main-content" style="padding: 30px;display: flex;flex-wrap: wrap;justify-content: center;padding-top: 0%;">
    <div *ngFor='let videocard of featuredVideoCards'>
        <div class="card" style="width: 18rem;margin: 30px;margin-top: 0%;cursor: pointer;" >
            <img class="card-img-top" src="{{videocard.imageUrl}}" (click)="GoTo(videocard.cardID)" alt="Card image cap">
            <div class="card-body">
                <p class="card-title" style="font-size: small; font-weight: 500;">{{videocard.title}}</p>
                <!-- <dx-button stylingMode="text" text="video Description" (onClick)="showVideoDescription()"></dx-button>
                <button style="border:none; background-color:white" onclick="showVideoDescription()">video Description</button>
                <div *ngIf="videoDescriptionClicked">
                    <p class="card-text"> {{videocard.description}} </p>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- <div class="col-md-12 text-center">
  <a href="/featured">See All Featured</a>
</div> -->

<!-- Most recent videos here -->
<h1 class="d-flex justify-content-center" style="padding-top:30px;color: aliceblue;">Most Recent</h1>
<div  style="margin-right: 10%;display: flex;justify-content:flex-end;" >
    <!-- <button type="button" class="btn btn-primary btn-lg" routerLink="/featured" >Go To Featured Videos</button> -->
    <a href="/mostrecent"><small>See All Most Recent >></small> </a>
</div>
<div class="main-content" style="padding: 30px;display: flex;flex-wrap: wrap;justify-content: center;">
    <div *ngFor='let videocard of mostRecentVideoCards'>
        <div class="card" style="width: 18rem;margin: 30px;cursor: pointer;margin-top: 0%" >
            <img class="card-img-top" src={{videocard.imageUrl}} (click)="GoTo(videocard.cardID)" alt="Card image cap">
            <div class="card-body">
                <p class="card-title" style="font-size: small; font-weight: 500;">{{videocard.title}}</p>
            </div>
        </div>
    </div>
</div>
<!-- <div class="col-md-12 text-center">
  <a href="/mostrecent">See All Most Recent</a>
</div> -->

<!-- Coming soon videos card-header -->
<h1 class="d-flex justify-content-center" style="padding-top:30px;color: aliceblue;">Tech</h1>
<div  style="margin-right: 10%;display: flex;justify-content:flex-end;margin-top: 0%;" >
    <!-- <button type="button" class="btn btn-primary btn-lg" routerLink="/featured" >Go To Featured Videos</button> -->
    <a href="/tech"><small>See All Tech Content >></small> </a>
</div>
<div class="main-content" style="padding: 30px;display: flex;flex-wrap: wrap;justify-content: center;">
    <div *ngFor='let videocard of comingSoonVideoCards'>
        <div class="card" style="width: 18rem;margin: 30px;cursor: pointer;" >
            <img class="card-img-top" src={{videocard.imageUrl}} (click)="GoTo(videocard.cardID)" alt="Card image cap">
            <div class="card-body">
                <p class="card-title" style="font-size: small; font-weight: 500;">{{videocard.title}}</p>
            </div>
        </div>
    </div>
</div>
<!-- <div class="col-md-12 text-center">
  <button type="button" class="btn btn-primary btn-lg" routerLink="/comingsoon" >Go To Coming Soon Videos</button>
  <a href="/comingsoon">See All Coming Soon</a>
</div> -->

<!-- top viewed videos here -->
<h1 class="d-flex justify-content-center" style="padding-top:30px;color: aliceblue;">Live Streams</h1>
<div  style="margin-right: 10%;display: flex;justify-content:flex-end;margin-top: 0%;" >
    <!-- <button type="button" class="btn btn-primary btn-lg" routerLink="/featured" >Go To Featured Videos</button> -->
    <a href="/live"><small>See All Live Streams >></small> </a>
</div>
<div class="main-content" style="padding: 30px;display: flex;flex-wrap: wrap;justify-content: center;">
    <div *ngFor='let videocard of topViewedVideoCards'>
        <div class="card" style="width: 18rem;margin: 30px;cursor: pointer;border: 1px solid gray;" >
            <img class="card-img-top" src={{videocard.imageUrl}} (click)="GoTo(videocard.cardID)" alt="Card image cap">
            <div class="card-body">
                <p class="card-title" style="font-size: small; font-weight: 500;">{{videocard.title}}</p>
            </div>
        </div>
    </div>
</div>
<!-- <div class="col-md-12 text-center">
  <a href="/topviewed">See All Top Viewed</a>
</div> -->


<!-- <div class="card" style="margin: 30px;">
    <div class="card-header">
      Quote
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Life's unfairness doesn't give you right to walk the wrong path of dharma</p>
        <footer class="blockquote-footer">Bhagawan Shree Krishna in <cite title="Bhagavadgita">Bhagavadgita</cite></footer>
      </blockquote>
    </div>
</div> -->
</div>

<div style="display: flex;justify-content: center;">
    <h1 style="color: aliceblue;">	<br>			<a href="https://instagram.com/risealone_yt?igshid=1tj8g9owh9o8w"><i class="fa fa-instagram" aria-hidden="true"></i></a>&nbsp;
        <a href="https://chat.whatsapp.com/KS889SCAwJp2mDom4AkvHL"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>&nbsp;
        <a href="https://www.youtube.com/channel/UCQBJ3aDHhSJZLduIP8Viqkw"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>&nbsp;
        <a href="https://discord.gg/upgCAmM8"><i class="fa fa-gamepad" aria-hidden="true"></i></a>&nbsp;
        <a href="https://github.com/MurariMahith"><i class="fa fa-code" aria-hidden="true"></i></a>
    </h1></div>