<div>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(31,37,51);">
    <a class="navbar-brand" href="#" style="margin-left: 4%;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/add" style="color: white;cursor: pointer;">Admin Actions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/editlogoandtitle" style="color: white;cursor: pointer;">Edit Logo and Title</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/editscroll" style="color: white;cursor: pointer;">Edit scrolling Photos</a>
        </li>      
      </ul>
    </div>
  </nav>
</div>

<div style="margin: 2%;margin-left: 10%;padding: 1%;width: 80%;" class="card">
    <h4>Upload Images here to show up on Scrolling Content</h4>
    <div class="form-group">                
        <label for="exampleFormControlFile1">Image:</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1" (change)="selectedFile($event)" accept="Image/*"><br>
        <img [src]="urlForView" width="100" height="100"> 
        <span *ngIf="uploaded">
        <img src="./../../../assets/images/tick.png" width="30" height="30"></span>
    </div>
    <!-- <div class="form-group">
        <label for="formGroupExampleInput">Website Title</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Website Title here" name="Title" [(ngModel)]="title" #Title="ngModel" required>
    </div> -->
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Priority</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="priority">
          <!-- <option selected>Choose...</option> -->
          <option value="1">High</option>
          <option value="2">Medium</option>
          <option value="3">Low</option>
        </select>
    </div>
    <small style="color: orange;">Please dont click submit until green check mark appears after your selected image. If you dont want to select any image you can proceed.</small><br>
    <button type="button" class="btn btn-success" (click)="addScrollImage()" style="width: 30%;">Submit</button>
</div>

<div class="main-content" style="padding: 30px;display: flex;flex-wrap: wrap;justify-content: center;">
    <div *ngFor='let videocard of scrollingImagesFromDb'>
        <div class="card" style="width: 18rem;margin: 30px;cursor: pointer;">
            <img class="card-img-top" src={{videocard.url}} alt="Card image cap">
            <!-- <h5>Priority : {{videocard.priority}}</h5> -->
            <div class="card-body">
                <button type="button" class="btn btn-danger"  (click)="deleteScrollImage(videocard.key)">Delete This Scroll Image</button>
            </div>
        </div>
    </div>
</div>